body{
    margin : 0;
    padding : 0;
    width:auto;
    background-color: black ;
    overflow: hidden;
}
h1{
    font-family: 'Times New Roman';
    color: white;
    text-align: center;
    font-size: 50px;
    padding-top: 5px;
}
.container{
    margin-top: 0;
    width: 100%;
    height: 120vh;
    z-index: 0;
    background-color: #F0B27A;
}
.calc{
    margin-left: 38.5%;
    margin-right: 30%;
    margin-top: 1%;
    margin-bottom: 2%;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
    z-index: 1;
    display: inline-block;
    background-color: #566573;
    border-radius: 15px;
    padding: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
}
.calc form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
    background: #1C2833;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 15px 0;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input.equal{
    width: 145px;
}
form input.operator{
    color: white;
}
